<%-include('./snavbar')%>
<div class="card">
    <div class="card-body">
      <% var date = question.created%>
      <% date = date.toLocaleString()%>
      <p class="card-text"><%=question.text%></p>
      <p class="card-text"><span style="font-weight: bold;">Author: </span><%=question.author.name%></p>
      <p class="card-text"><span style="font-weight: bold;">Submission Time: </span><%=date%></p>
      <div class="like-dislike">
        <%if(question.likedby.includes(user.id)){%>
          <button id="like-button" class="btn" onclick="handleQuestionLike('<%=question.id%>')"  data-state="liked" style="color:black; background-color: blue;">
            <i class="fas fa-thumbs-up"></i> Like <span id="like-count"><%=question.likedby.length%></span>
          </button>
        <%}else{%>
          <button id="like-button" class="btn" onclick="handleQuestionLike('<%=question.id%>')"  data-state="unliked" style="color:black; background-color: darkorange;">
            <i class="fas fa-thumbs-up"></i> Like <span id="like-count"><%=question.likedby.length%></span>
          </button>
          <%}%>
        <%if(question.dislikedby.includes(user.id)){%>
          <button id="dislike-button" class="btn" onclick="handleQuestionDislike('<%=question.id%>')" data-state="clicked" style="color:black; background-color: blue;">
            <i class="fas fa-thumbs-down"></i> Dislike <span id="dislike-count"><%=question.dislikedby.length%></span>
          </button>
        <%}else{%>
          <button id="dislike-button" class="btn" onclick="handleQuestionDislike('<%=question.id%>')" data-state="unclicked" style="color:black; background-color: darkorange;">
            <i class="fas fa-thumbs-down"></i> Dislike <span id="dislike-count"><%=question.dislikedby.length%></span>
        <%}%>
        
      </div>
    </div>
</div> 
<br/>
<div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <h5 class="card-text">Answers</h5>
        <%- include('./../partials/answers')%>
      </div>
      <div class="col-5">
          <h6 class="card-text">Comments</h6>
          <%- include('./../partials/comments')%>
      </div>
    </div>
  </div>

  <script src="/js/question.js"></script>


